<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="outputHelper" class="com.gejianfeng.springdemo.di.utils.OutputHelper">
		<property name="outputGenerator" ref="CsvOutputGenerator" />
	</bean>
	
	<bean id="CsvOutputGenerator" class="com.gejianfeng.springdemo.di.implement.CsvOutputGenerator" />
	<bean id="JsonOutputGenerator" class="com.gejianfeng.springdemo.di.implement.JsonOutputGenerator" />
		
</beans>