<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="springHelloWorld" class="com.gejianfeng.springdemo.quickstart.implement.SpringHelloWorld"></bean>
	<bean id="strutsHelloWorld" class="com.gejianfeng.springdemo.quickstart.implement.StrutsHelloWorld"></bean>
	<bean id="helloWorldService" class="com.gejianfeng.springdemo.quickstart.services.HelloWorldService">
		<property name="helloWorld" ref="springHelloWorld"/>
	</bean>
</beans>